@font-face {
    font-family: 'Monster Friend Fore Regular';
    src: url("MonsterFriendFore.otf");
}

@font-face {
    font-family: 'Determination Sans Web';
    src: url("DeterminationSansWebRegular-369X.otf");
}

@font-face {
    font-family: 'Determination Mono Web';
    src: url("DeterminationMonoWebRegular-Z5oq.otf");
}

body {
    background-color: black;
    font-family: "Determination Sans Web";
    color: white;
}

h1 {
    font-family:"Monster Friend Fore Regular";
    color:white;
    display:block;
    text-align:center;
    margin: 25px auto;
}
h2 {
    font-family:"Determination Mono Web";
    color:yellow;
    display:block;
    text-align:center;
    margin: 0 auto;
}

p {
    border: 5px solid white;
}