@font-face {
    font-family: 'Monster Friend Fore Regular';
    src: url("MonsterFriendFore.otf");
}

@font-face {
    font-family: 'Determination Sans Web';
    src: url("DeterminationSansWebRegular-369X.otf");
}

@font-face {
    font-family: 'Determination Mono Web';
    src: url("DeterminationMonoWebRegular-Z5oq.otf");
}
